<div class="alert alert-block alert-info">
    Import <b>Libraries</b>
</div>

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

# 1. DATA GATHERING & LOADING

In [3]:
df = pd.read_csv('stress_detection_data.csv')
df

,Age,Gender,Occupation,Marital_Status,Sleep_Duration,Sleep_Quality,Wake_Up_Time,Bed_Time,Physical_Activity,Screen_Time,...,Smoking_Habit,Work_Hours,Travel_Time,Social_Interactions,Meditation_Practice,Exercise_Type,Blood_Pressure,Cholesterol_Level,Blood_Sugar_Level,Stress_Detection
0,30,Male,Software Engineer,Single,7.0,4.0,7:00 AM,10:00 PM,2.0,4.0,...,No,8,1.0,5,Yes,Cardio,120,180,90,Low
1,35,Female,Marketing Manager,Married,6.0,3.0,6:00 AM,11:00 PM,1.0,3.0,...,No,9,2.0,3,No,Yoga,110,160,80,Medium
2,40,Male,Data Scientist,Divorced,7.0,4.0,7:00 AM,10:00 PM,2.0,4.0,...,No,8,1.0,5,Yes,Strength Training,130,200,100,High
3,35,Male,Software Engineer,Single,7.0,4.0,7:00 AM,10:00 PM,2.0,4.0,...,No,8,1.0,5,Yes,Cardio,120,180,90,Low
4,29,Female,Teacher,Single,8.0,5.0,6:30 AM,10:30 PM,3.0,2.0,...,No,7,1.0,4,Yes,Yoga,110,180,90,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768,40,Female,Teacher,Single,6.3,4.0,7:00 AM,5:00 PM,3.0,4.0,...,No,7,3.0,2,No,Yoga,155,235,120,Medium
769,42,Male,Writer,Married,6.0,3.7,8:00 AM,6:00 PM,3.0,4.0,...,No,7,3.0,2,No,Strength Training,150,230,115,Low
770,30,Female,Accountant,Single,6.1,3.8,7:00 AM,5:00 PM,4.0,5.0,...,Yes,7,3.0,2,Yes,Cardio,155,235,120,High
771,34,Male,Architect,Married,6.2,3.9,7:00 AM,6:00 PM,3.0,4.0,...,No,7,3.0,2,No,Strength Training,160,240,125,Medium
772,29,Female,Scientist,Single,6.3,4.2,8:00 AM,5:00 PM,4.0,5.0,...,Yes,8,4.0,3,Yes,Yoga,150,230,115,High

## 2. Data Exploration

In [4]:
df.head(4)

,Age,Gender,Occupation,Marital_Status,Sleep_Duration,Sleep_Quality,Wake_Up_Time,Bed_Time,Physical_Activity,Screen_Time,...,Smoking_Habit,Work_Hours,Travel_Time,Social_Interactions,Meditation_Practice,Exercise_Type,Blood_Pressure,Cholesterol_Level,Blood_Sugar_Level,Stress_Detection
0,30,Male,Software Engineer,Single,7.0,4.0,7:00 AM,10:00 PM,2.0,4.0,...,No,8,1.0,5,Yes,Cardio,120,180,90,Low
1,35,Female,Marketing Manager,Married,6.0,3.0,6:00 AM,11:00 PM,1.0,3.0,...,No,9,2.0,3,No,Yoga,110,160,80,Medium
2,40,Male,Data Scientist,Divorced,7.0,4.0,7:00 AM,10:00 PM,2.0,4.0,...,No,8,1.0,5,Yes,Strength Training,130,200,100,High
3,35,Male,Software Engineer,Single,7.0,4.0,7:00 AM,10:00 PM,2.0,4.0,...,No,8,1.0,5,Yes,Cardio,120,180,90,Low

In [5]:
df.tail(10)

,Age,Gender,Occupation,Marital_Status,Sleep_Duration,Sleep_Quality,Wake_Up_Time,Bed_Time,Physical_Activity,Screen_Time,...,Smoking_Habit,Work_Hours,Travel_Time,Social_Interactions,Meditation_Practice,Exercise_Type,Blood_Pressure,Cholesterol_Level,Blood_Sugar_Level,Stress_Detection
763,38,Male,Consultant,Married,6.2,3.9,8:00 AM,6:00 PM,4.0,5.0,...,Yes,8,4.0,3,Yes,Strength Training,160,240,125,High
764,33,Female,Technician,Single,6.1,3.8,7:00 AM,5:00 PM,4.0,5.0,...,Yes,8,4.0,3,Yes,Cardio,150,230,115,Low
765,44,Male,Mechanic,Married,6.0,3.7,6:00 AM,6:00 PM,4.0,5.0,...,Yes,7,3.0,2,Yes,Yoga,155,235,120,High
766,29,Female,Nurse,Single,6.2,4.1,7:00 AM,6:00 PM,3.0,4.0,...,No,7,3.0,2,No,Strength Training,145,225,110,Medium
767,36,Male,Program Manager,Married,6.1,3.8,8:00 AM,5:00 PM,4.0,5.0,...,Yes,8,4.0,3,Yes,Cardio,160,240,125,High
768,40,Female,Teacher,Single,6.3,4.0,7:00 AM,5:00 PM,3.0,4.0,...,No,7,3.0,2,No,Yoga,155,235,120,Medium
769,42,Male,Writer,Married,6.0,3.7,8:00 AM,6:00 PM,3.0,4.0,...,No,7,3.0,2,No,Strength Training,150,230,115,Low
770,30,Female,Accountant,Single,6.1,3.8,7:00 AM,5:00 PM,4.0,5.0,...,Yes,7,3.0,2,Yes,Cardio,155,235,120,High
771,34,Male,Architect,Married,6.2,3.9,7:00 AM,6:00 PM,3.0,4.0,...,No,7,3.0,2,No,Strength Training,160,240,125,Medium
772,29,Female,Scientist,Single,6.3,4.2,8:00 AM,5:00 PM,4.0,5.0,...,Yes,8,4.0,3,Yes,Yoga,150,230,115,High

In [6]:
df.columns

Index(['Age', 'Gender', 'Occupation', 'Marital_Status', 'Sleep_Duration',
       'Sleep_Quality', 'Wake_Up_Time', 'Bed_Time', 'Physical_Activity',
       'Screen_Time', 'Caffeine_Intake', 'Alcohol_Intake', 'Smoking_Habit',
       'Work_Hours', 'Travel_Time', 'Social_Interactions',
       'Meditation_Practice', 'Exercise_Type', 'Blood_Pressure',
       'Cholesterol_Level', 'Blood_Sugar_Level', 'Stress_Detection'],
      dtype='object')

In [7]:
df.count()

Age                    773
Gender                 773
Occupation             773
Marital_Status         773
Sleep_Duration         773
Sleep_Quality          773
Wake_Up_Time           773
Bed_Time               773
Physical_Activity      773
Screen_Time            773
Caffeine_Intake        773
Alcohol_Intake         773
Smoking_Habit          773
Work_Hours             773
Travel_Time            773
Social_Interactions    773
Meditation_Practice    773
Exercise_Type          773
Blood_Pressure         773
Cholesterol_Level      773
Blood_Sugar_Level      773
Stress_Detection       773
dtype: int64

In [8]:
df.describe()

,Age,Sleep_Duration,Sleep_Quality,Physical_Activity,Screen_Time,Caffeine_Intake,Alcohol_Intake,Work_Hours,Travel_Time,Social_Interactions,Blood_Pressure,Cholesterol_Level,Blood_Sugar_Level
count,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000
mean,38.887451,6.338422,3.848124,2.979301,4.105433,1.818887,0.888745,8.258732,2.858344,3.196636,137.943079,220.834411,111.765847
std,7.686642,0.733584,0.545459,0.797234,0.812513,0.838396,0.673741,1.064168,1.083758,0.856332,13.122060,19.322622,12.533097
min,18.000000,3.500000,2.000000,1.000000,2.000000,0.000000,0.000000,6.000000,0.500000,1.000000,110.000000,150.000000,80.000000
25%,33.000000,6.000000,3.600000,2.000000,4.000000,1.000000,0.000000,8.000000,2.000000,3.000000,130.000000,210.000000,105.000000
50%,39.000000,6.300000,3.900000,3.000000,4.000000,2.000000,1.000000,8.000000,3.000000,3.000000,140.000000,220.000000,115.000000
75%,45.000000,7.000000,4.000000,4.000000,5.000000,2.000000,1.000000,9.000000,4.000000,4.000000,150.000000,230.000000,120.000000
max,60.000000,8.000000,5.000000,5.000000,8.000000,4.000000,2.000000,14.000000,5.000000,5.000000,170.000000,290.000000,150.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 773 entries, 0 to 772
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  773 non-null    int64
 1   Gender               773 non-null    object
 2   Occupation           773 non-null    object
 3   Marital_Status       773 non-null    object
 4   Sleep_Duration       773 non-null    float64
 5   Sleep_Quality        773 non-null    float64
 6   Wake_Up_Time         773 non-null    object
 7   Bed_Time             773 non-null    object
 8   Physical_Activity    773 non-null    float64
 9   Screen_Time          773 non-null    float64
 10  Caffeine_Intake      773 non-null    int64
 11  Alcohol_Intake       773 non-null    int64
 12  Smoking_Habit        773 non-null    object
 13  Work_Hours           773 non-null    int64
 14  Travel_Time          773 non-null    float64
 15  Social_Interactions  773 non-null    int64
 16  Meditation_Practice  773 non-null    object
 17  Exercise_Type        773 non-null    object
 18  Blood_Pressure       773 non-null    int64
 19  Cholesterol_Level    773 non-null    int64
 20  Blood_Sugar_Level    773 non-null    int64
 21  Stress_Detection     773 non-null    object
dtypes: float64(5), int64(8), object(9)
memory usage: 133.0+ KB

In [10]:
print(f"Number of rows: {df.shape[0]}")
print(f"Number of columns: {df.shape[1]}")

Number of rows: 773
Number of columns: 22

In [11]:
df['Age'].unique()

array([30, 35, 40, 29, 45, 32, 37, 50, 34, 28, 42, 38, 43, 36, 55, 60, 48,
       41, 46, 39, 54, 33, 44, 49, 47, 31, 18, 22, 21, 27, 25, 26, 24, 23,
       19, 20, 51, 52, 53], dtype=int64)

In [12]:
df.nunique()

Age                     39
Gender                   2
Occupation             169
Marital_Status           3
Sleep_Duration          35
Sleep_Quality           19
Wake_Up_Time            10
Bed_Time                19
Physical_Activity        7
Screen_Time              9
Caffeine_Intake          5
Alcohol_Intake           3
Smoking_Habit            2
Work_Hours               8
Travel_Time              8
Social_Interactions      5
Meditation_Practice      2
Exercise_Type            7
Blood_Pressure          13
Cholesterol_Level       26
Blood_Sugar_Level       15
Stress_Detection         3
dtype: int64

In [13]:
df.isnull().sum()

Age                    0
Gender                 0
Occupation             0
Marital_Status         0
Sleep_Duration         0
Sleep_Quality          0
Wake_Up_Time           0
Bed_Time               0
Physical_Activity      0
Screen_Time            0
Caffeine_Intake        0
Alcohol_Intake         0
Smoking_Habit          0
Work_Hours             0
Travel_Time            0
Social_Interactions    0
Meditation_Practice    0
Exercise_Type          0
Blood_Pressure         0
Cholesterol_Level      0
Blood_Sugar_Level      0
Stress_Detection       0
dtype: int64

# 3. DATA PRE-PROCESSING

## 3.1 MANAGE NULL VALUES

In [14]:
df = df.drop(['Wake_Up_Time',
              'Bed_Time',
              'Occupation',
              'Gender',
              'Marital_Status',
              'Exercise_Type',
              'Meditation_Practice'], axis=1)

In [15]:
df['Blood_Pressure'].mean(), df['Blood_Pressure'].median(), df['Blood_Pressure'].mode()

(137.9430789133247,
 140.0,
 0    130
 Name: Blood_Pressure, dtype: int64)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 773 entries, 0 to 772
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  773 non-null    int64
 1   Sleep_Duration       773 non-null    float64
 2   Sleep_Quality        773 non-null    float64
 3   Physical_Activity    773 non-null    float64
 4   Screen_Time          773 non-null    float64
 5   Caffeine_Intake      773 non-null    int64
 6   Alcohol_Intake       773 non-null    int64
 7   Smoking_Habit        773 non-null    object
 8   Work_Hours           773 non-null    int64
 9   Travel_Time          773 non-null    float64
 10  Social_Interactions  773 non-null    int64
 11  Blood_Pressure       773 non-null    int64
 12  Cholesterol_Level    773 non-null    int64
 13  Blood_Sugar_Level    773 non-null    int64
 14  Stress_Detection     773 non-null    object
dtypes: float64(5), int64(8), object(2)
memory usage: 90.7+ KB

In [17]:
df['Screen_Time'] = df['Screen_Time'].astype('float64')
df['Travel_Time'] = df['Travel_Time'].astype('float64')
df['Physical_Activity'] = df['Physical_Activity'].astype('float64')
df['Sleep_Duration'] = df['Sleep_Duration'].astype('float64')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 773 entries, 0 to 772
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  773 non-null    int64
 1   Sleep_Duration       773 non-null    float64
 2   Sleep_Quality        773 non-null    float64
 3   Physical_Activity    773 non-null    float64
 4   Screen_Time          773 non-null    float64
 5   Caffeine_Intake      773 non-null    int64
 6   Alcohol_Intake       773 non-null    int64
 7   Smoking_Habit        773 non-null    object
 8   Work_Hours           773 non-null    int64
 9   Travel_Time          773 non-null    float64
 10  Social_Interactions  773 non-null    int64
 11  Blood_Pressure       773 non-null    int64
 12  Cholesterol_Level    773 non-null    int64
 13  Blood_Sugar_Level    773 non-null    int64
 14  Stress_Detection     773 non-null    object
dtypes: float64(5), int64(8), object(2)
memory usage: 90.7+ KB

In [19]:
def convertObjToInt(cols):
    for i in cols:
        data = pd.DataFrame({i: df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(data))
        df[i] = data_LE.transform(df[i])

columns = ['Stress_Detection', 'Smoking_Habit']
convertObjToInt(columns)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 773 entries, 0 to 772
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  773 non-null    int64
 1   Sleep_Duration       773 non-null    float64
 2   Sleep_Quality        773 non-null    float64
 3   Physical_Activity    773 non-null    float64
 4   Screen_Time          773 non-null    float64
 5   Caffeine_Intake      773 non-null    int64
 6   Alcohol_Intake       773 non-null    int64
 7   Smoking_Habit        773 non-null    int32
 8   Work_Hours           773 non-null    int64
 9   Travel_Time          773 non-null    float64
 10  Social_Interactions  773 non-null    int64
 11  Blood_Pressure       773 non-null    int64
 12  Cholesterol_Level    773 non-null    int64
 13  Blood_Sugar_Level    773 non-null    int64
 14  Stress_Detection     773 non-null    int32
dtypes: float64(5), int32(2), int64(8)
memory usage: 84.7 KB

In [21]:
df.head(3)

,Age,Sleep_Duration,Sleep_Quality,Physical_Activity,Screen_Time,Caffeine_Intake,Alcohol_Intake,Smoking_Habit,Work_Hours,Travel_Time,Social_Interactions,Blood_Pressure,Cholesterol_Level,Blood_Sugar_Level,Stress_Detection
0,30,7.0,4.0,2.0,4.0,1,0,0,8,1.0,5,120,180,90,1
1,35,6.0,3.0,1.0,3.0,0,1,0,9,2.0,3,110,160,80,2
2,40,7.0,4.0,2.0,4.0,1,0,0,8,1.0,5,130,200,100,0

In [22]:
df.to_csv('cleaned_data.csv', index=False, header=True)

In [23]:
df = pd.read_csv('cleaned_data.csv')
df

,Age,Sleep_Duration,Sleep_Quality,Physical_Activity,Screen_Time,Caffeine_Intake,Alcohol_Intake,Smoking_Habit,Work_Hours,Travel_Time,Social_Interactions,Blood_Pressure,Cholesterol_Level,Blood_Sugar_Level,Stress_Detection
0,30,7.0,4.0,2.0,4.0,1,0,0,8,1.0,5,120,180,90,1
1,35,6.0,3.0,1.0,3.0,0,1,0,9,2.0,3,110,160,80,2
2,40,7.0,4.0,2.0,4.0,1,0,0,8,1.0,5,130,200,100,0
3,35,7.0,4.0,2.0,4.0,1,0,0,8,1.0,5,120,180,90,1
4,29,8.0,5.0,3.0,2.0,1,0,0,7,1.0,4,110,180,90,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768,40,6.3,4.0,3.0,4.0,2,1,0,7,3.0,2,155,235,120,2
769,42,6.0,3.7,3.0,4.0,2,1,0,7,3.0,2,150,230,115,1
770,30,6.1,3.8,4.0,5.0,3,2,1,7,3.0,2,155,235,120,0
771,34,6.2,3.9,3.0,4.0,2,1,0,7,3.0,2,160,240,125,2
772,29,6.3,4.2,4.0,5.0,3,2,1,8,4.0,3,150,230,115,0

# 4. TRAIN - TEST SPLITTING

In [24]:
import pandas as pd
df = pd.read_csv('cleaned_data.csv')

df.columns

Index(['Age', 'Sleep_Duration', 'Sleep_Quality', 'Physical_Activity',
       'Screen_Time', 'Caffeine_Intake', 'Alcohol_Intake', 'Smoking_Habit',
       'Work_Hours', 'Travel_Time', 'Social_Interactions', 'Blood_Pressure',
       'Cholesterol_Level', 'Blood_Sugar_Level', 'Stress_Detection'],
      dtype='object')

In [25]:
X = df.drop('Stress_Detection', axis=1)   
y = df['Stress_Detection']

In [26]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X,y, test_size=0.3, shuffle=False) # 80:20, 70:30, 60:40

In [27]:
print(train_X.shape, train_y.shape)
print(test_X.shape, test_y.shape)

(541, 14) (541,)
(232, 14) (232,)

# 5. APPLYING CLASSIFIER

## 5.1  Support Vector Classifier

In [28]:
from sklearn.svm import SVC # Support Vector Classifier

model_svc = SVC()
model_svc.fit(train_X, train_y)

print(model_svc)

SVC()

In [29]:
model_pred_svc = model_svc.predict(test_X)
model_pred_svc

array([2, 0, 0, 0, 2, 0, 2, 0, 2, 0, 0, 2, 0, 0, 0, 2, 0, 2, 0, 0, 0, 0,
       2, 2, 0, 0, 0, 2, 2, 0, 0, 2, 0, 2, 0, 2, 2, 0, 0, 0, 2, 0, 0, 0,
       2, 0, 0, 0, 2, 0, 2, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 0,
       0, 2, 0, 0, 2, 0, 0, 0, 2, 0, 0, 0, 2, 0, 2, 0, 2, 0, 0, 0, 0, 0,
       2, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0,
       0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0,
       0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 2,
       0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 0, 0, 0, 2,
       0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0], dtype=int64)

In [30]:
from sklearn.metrics import accuracy_score
model_acc_svc = accuracy_score(test_y, model_pred_svc)
print(round(model_acc_svc,3)*100, "%")

53.900000000000006 %

## 5.2 MODEL SAVING

In [32]:
import pickle
pickle.dump(model_pred_svc, open('model_svc.pkl', 'wb')) # Model Saving

In [33]:
import pickle
model_rf = pickle.load(open('model_svc.pkl', 'rb'))  # Model Loading